tr>th {
  height: 60px;
  border: 3px solid white;
}
thead {
  background-color: #7FD3EE;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 3px solid white;
  color: #fff;
}
th{
width: fit-content;
}

