.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
.flag {
  width: 100px;
  height: 100px;
}
.loginbtn {
  border-radius: 3px;
  background-color: #42C7F2;
  border: 0 !important;
  color: white;
}
.forget {
 color : #0028B7;
  text-decoration: none;
}
.inputs {
  background-color: #E4E4E4;
  border-radius: 2px !important;
  border: 0;
}

.warningPos {
  padding-left: 30px!important;
}
